<mat-nav-list>
  <a mat-list-item routerLink="/index" (click)="close()">
    <mat-icon>home</mat-icon>
    <span>Főoldal</span>
  </a>
  <a mat-list-item disabled routerLink="/menetrend" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>schedule</mat-icon>
    <span>Menetrend</span>
  </a>
  <a mat-list-item routerLink="/menetrend" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>schedule</mat-icon>
    <span>Menetrend</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>login</mat-icon>
    <span>Bejelentkezés</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="loggedInUser">
    <mat-icon>Logout</mat-icon>
    <span>Kijelentkezés</span>
  </a>
  <a mat-list-item routerLink="/register" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>app_registration</mat-icon>
    <span>Regisztráció</span>
  </a>
</mat-nav-list>
